In [84]:
import pandas as pd

In [85]:
with open("datasets/train.csv") as f:
    print(f)

<_io.TextIOWrapper name='datasets/train.csv' mode='r' encoding='cp1252'>

In [86]:
data = pd.read_csv("datasets/train.csv", encoding="utf8")

In [87]:
data.head()

,human_prompt,chatgpt_response
0,Write a detailed product description for a foo...,Introducing the ultimate kitchen tool for busy...
1,Write a short blog post (500 words) about the ...,Congratulations on your new furry friend! Owni...
2,ChatGPT is rewriting Genesis.,"Sure, here's a possible re-write of the story ..."
3,Please write the evolution of humans by natura...,Ingredients:\n• 1 planet with diverse environm...
4,List possible Twitter messages from dinosaurs ...,"@T-RexyTweetster\n""OMG guys, I just saw the as..."

In [88]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   human_prompt      360 non-null    object
 1   chatgpt_response  360 non-null    object
dtypes: object(2)
memory usage: 5.8+ KB

In [89]:
data["human_prompt"] = data["human_prompt"] + " "

In [90]:
data["text"] = data["human_prompt"] + data["chatgpt_response"]

In [91]:
data["text"].head()

0    Write a detailed product description for a foo...
1    Write a short blog post (500 words) about the ...
2    ChatGPT is rewriting Genesis. Sure, here's a p...
3    Please write the evolution of humans by natura...
4    List possible Twitter messages from dinosaurs ...
Name: text, dtype: object

In [92]:
data.drop(data.iloc[:, :2], axis = 1, inplace = True)

In [93]:
data.insert(1, "domain", "chatgpt", True)

In [94]:
data.insert(2, "name", "chatgpt prompts and answers", True)

In [95]:
data.insert(3, "kind", "AI-written", True)

In [96]:
data.insert(4, "model", "AI", True)

In [97]:
news_articles = pd.read_csv("datasets/news_article.csv")

In [98]:
news_articles.reset_index(drop=True, inplace = True)

In [99]:
data.head()

,text,domain,name,kind,model
0,Write a detailed product description for a foo...,chatgpt,chatgpt prompts and answers,AI-written,AI
1,Write a short blog post (500 words) about the ...,chatgpt,chatgpt prompts and answers,AI-written,AI
2,"ChatGPT is rewriting Genesis. Sure, here's a p...",chatgpt,chatgpt prompts and answers,AI-written,AI
3,Please write the evolution of humans by natura...,chatgpt,chatgpt prompts and answers,AI-written,AI
4,List possible Twitter messages from dinosaurs ...,chatgpt,chatgpt prompts and answers,AI-written,AI

In [100]:
dataset = pd.concat([data, news_articles], axis = 0)

In [101]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1533 entries, 0 to 1172
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    1533 non-null   object
 1   domain  1533 non-null   object
 2   name    1533 non-null   object
 3   kind    1533 non-null   object
 4   model   1533 non-null   object
dtypes: object(5)
memory usage: 71.9+ KB

In [102]:
dataset["model"].unique()

array(['AI', 'Human'], dtype=object)

In [103]:
dataset["model"].value_counts()

Human    1173
AI        360
Name: model, dtype: int64

In [146]:
prev_data = pd.read_csv("datasets/all_data.csv")

In [148]:
prev_data.head()

,text,domain,name,kind,model
0,"I favor preparing meals at home. Primarily, it...",TOEFL_gpt4polished_91,Fake TOEFL - GPT4 - PE,AI-Generated,GPT4
1,The destination I'm most eager to explore is o...,TOEFL_gpt4polished_91,Fake TOEFL - GPT4 - PE,AI-Generated,GPT4
2,I envision my life ten years from now as one o...,TOEFL_gpt4polished_91,Fake TOEFL - GPT4 - PE,AI-Generated,GPT4
3,"Personally, I find Peking University to be inc...",TOEFL_gpt4polished_91,Fake TOEFL - GPT4 - PE,AI-Generated,GPT4
4,I'm confident in pursuing my passion. While I ...,TOEFL_gpt4polished_91,Fake TOEFL - GPT4 - PE,AI-Generated,GPT4

In [149]:
prev_data["model"].value_counts()

Human    306
GPT4     236
GPT3     207
Name: model, dtype: int64

In [162]:
prev_data.head()

,text,domain,name,kind,model
0,"I favor preparing meals at home. Primarily, it...",TOEFL_gpt4polished_91,Fake TOEFL - GPT4 - PE,AI-Generated,GPT4
1,The destination I'm most eager to explore is o...,TOEFL_gpt4polished_91,Fake TOEFL - GPT4 - PE,AI-Generated,GPT4
2,I envision my life ten years from now as one o...,TOEFL_gpt4polished_91,Fake TOEFL - GPT4 - PE,AI-Generated,GPT4
3,"Personally, I find Peking University to be inc...",TOEFL_gpt4polished_91,Fake TOEFL - GPT4 - PE,AI-Generated,GPT4
4,I'm confident in pursuing my passion. While I ...,TOEFL_gpt4polished_91,Fake TOEFL - GPT4 - PE,AI-Generated,GPT4

In [163]:
prev_data["model"][(prev_data["model"] == "GPT4") | (prev_data["model"] == "GPT3")] = "AI"

In [164]:
prev_data["model"].value_counts()

AI       443
Human    306
Name: model, dtype: int64

In [165]:
prev_data.head()

,text,domain,name,kind,model
0,"I favor preparing meals at home. Primarily, it...",TOEFL_gpt4polished_91,Fake TOEFL - GPT4 - PE,AI-Generated,AI
1,The destination I'm most eager to explore is o...,TOEFL_gpt4polished_91,Fake TOEFL - GPT4 - PE,AI-Generated,AI
2,I envision my life ten years from now as one o...,TOEFL_gpt4polished_91,Fake TOEFL - GPT4 - PE,AI-Generated,AI
3,"Personally, I find Peking University to be inc...",TOEFL_gpt4polished_91,Fake TOEFL - GPT4 - PE,AI-Generated,AI
4,I'm confident in pursuing my passion. While I ...,TOEFL_gpt4polished_91,Fake TOEFL - GPT4 - PE,AI-Generated,AI

In [166]:
dataset = pd.concat([dataset, prev_data], axis = 0)

In [167]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2282 entries, 0 to 748
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    2282 non-null   object
 1   domain  2282 non-null   object
 2   name    2282 non-null   object
 3   kind    2282 non-null   object
 4   model   2282 non-null   object
dtypes: object(5)
memory usage: 107.0+ KB

In [168]:
dataset["model"].value_counts()

Human    1479
AI        803
Name: model, dtype: int64

In [169]:
dataset.to_csv("datasets/final_dataset.csv", index = False)