In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("datasets/Articles.csv", encoding="cp1252")

In [3]:
with open('datasets/Articles.csv') as f:
    print(f)

<_io.TextIOWrapper name='datasets/Articles.csv' mode='r' encoding='cp1252'>

In [4]:
data.head()

,Article,Date,Heading,NewsType
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business
1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business
2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business
3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2692 entries, 0 to 2691
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Article   2692 non-null   object
 1   Date      2692 non-null   object
 2   Heading   2692 non-null   object
 3   NewsType  2692 non-null   object
dtypes: object(4)
memory usage: 84.2+ KB

In [6]:
data["NewsType"].unique()

array(['business', 'sports'], dtype=object)

In [7]:
data[data["Article"].str.startswith("strong>")]

,Article,Date,Heading,NewsType
390,strong>Singapore: Crude prices extended losses...,12/17/2015,Oil prices extend losses in Asia after invento...,business
392,strong>New York: Global stocks ended the week ...,12/19/2015,Global stocks fall as Fed is second guessed,business
394,"strong>ISLAMABAD: Federal Finance Minister, Is...",12/21/2015,No intention to privatize PIA Ishaq Dar,business
395,strong>SINGAPORE: Gold retained gains from a t...,12/22/2015,Gold keeps gains from two day rally but oil sl...,business
396,strong>Hong Kong: The dollar retreated against...,12/23/2015,Dollar dips as effect of Fed rise wears off,business
...,...,...,...,...
2687,strong>DUBAI: Dubai International Airport and ...,3/25/2017,Laptop ban hits Dubai for 11m weekend traveller,business
2688,"strong>BEIJING: Former Prime Minister, Shaukat...",3/26/2017,Pak China relations not against any third coun...,business
2689,strong>WASHINGTON: Uber has grounded its fleet...,3/26/2017,Uber grounds self driving cars after accid,business
2690,strong>BEIJING: The New Development Bank plans...,3/27/2017,New Development Bank plans joint investments i...,business
2691,strong>KARACHI: Karachi-based technology incub...,3/27/2017,Google powered Startup Weekend energizing prou...,business

In [8]:
data_no_scripts = data[~data["Article"].str.startswith("strong>")]

In [9]:
data_no_scripts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1173 entries, 0 to 2676
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Article   1173 non-null   object
 1   Date      1173 non-null   object
 2   Heading   1173 non-null   object
 3   NewsType  1173 non-null   object
dtypes: object(4)
memory usage: 45.8+ KB

In [10]:
data_no_scripts.head()

,Article,Date,Heading,NewsType
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business
1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business
2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business
3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business

In [11]:
data_no_scripts["NewsType"].value_counts()

sports      677
business    496
Name: NewsType, dtype: int64

In [12]:
data_no_scripts["Heading"] = data_no_scripts["Heading"] + " "

C:\Users\Prashjeev\AppData\Local\Temp\ipykernel_13548\2243851193.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_no_scripts["Heading"] = data_no_scripts["Heading"] + " "

In [13]:
data_no_scripts["Heading"].head()

0    sindh govt decides to cut public transport far...
1                     asia stocks up in new year trad
2            hong kong stocks open 0.66 percent lower
3              asian stocks sink euro near nine year
4                  us oil prices slip below 50 a barr
Name: Heading, dtype: object

In [14]:
data_no_scripts["Article"] = data_no_scripts["Heading"] + data_no_scripts["Article"]

C:\Users\Prashjeev\AppData\Local\Temp\ipykernel_13548\2088473045.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_no_scripts["Article"] = data_no_scripts["Heading"] + data_no_scripts["Article"]

In [15]:
data_no_scripts["Article"][100]

"imf disburses 500mn loan tranche to paki ISLAMABAD: Pakistan's central bank has received $500 million from the International Monetary Fund (IMF) as the sixth loan tranche of an ongoing aid arrangement to support economic reforms and growth, sources told Geo News on Wednesday.Sources said that the State Bank of Pakistan (SBP) has already received the funds and that the country's foreign reserves have now swelled up to $16.5bn as a result.Investor outlook at capital markets in the country appeared optimistic on reports of release of the IMF installment, with the benchmark Karachi Stock exchange 100 index witnessing an upward trend and gains of 550 at the start of trading today.                        \r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n"

In [16]:
data_no_scripts.drop(data_no_scripts.iloc[:, 1:], axis = 1, inplace = True)

C:\Users\Prashjeev\AppData\Local\Temp\ipykernel_13548\2741328814.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_no_scripts.drop(data_no_scripts.iloc[:, 1:], axis = 1, inplace = True)

In [17]:
data_no_scripts = data_no_scripts.reset_index(drop = True)

In [18]:
data_no_scripts.rename(columns = {"Article": "text"}, inplace = True)

In [19]:
data_no_scripts["model"] = "Human"

In [20]:
data_no_scripts.head()

                                                text  model
0  sindh govt decides to cut public transport far...  Human
1  asia stocks up in new year trad HONG KONG: Asi...  Human
2  hong kong stocks open 0.66 percent lower HONG ...  Human
3  asian stocks sink euro near nine year  HONG KO...  Human
4  us oil prices slip below 50 a barr NEW YORK: U...  Human

In [21]:
data_no_scripts.insert(1, "domain", "News", True)

In [22]:
data_no_scripts.insert(2, "name", "Newspaper article on Business/Sports", True)

In [23]:
data_no_scripts.insert(3, "kind", "Human-Written", True)

In [24]:
data_no_scripts.head()

,text,domain,name,kind,model
0,sindh govt decides to cut public transport far...,News,Newspaper article on Business/Sports,Human-Written,Human
1,asia stocks up in new year trad HONG KONG: Asi...,News,Newspaper article on Business/Sports,Human-Written,Human
2,hong kong stocks open 0.66 percent lower HONG ...,News,Newspaper article on Business/Sports,Human-Written,Human
3,asian stocks sink euro near nine year HONG KO...,News,Newspaper article on Business/Sports,Human-Written,Human
4,us oil prices slip below 50 a barr NEW YORK: U...,News,Newspaper article on Business/Sports,Human-Written,Human

In [86]:
data_no_scripts.to_csv("datasets/news_article.csv", index = False)