In [31]:
import pandas as pd

In [32]:
with open("datasets/train.csv") as f:
    print(f)

<_io.TextIOWrapper name='datasets/train.csv' mode='r' encoding='cp1252'>

In [33]:
data = pd.read_csv("datasets/train.csv", encoding="utf8")

In [34]:
data.head()

,human_prompt,chatgpt_response
0,Write a detailed product description for a foo...,Introducing the ultimate kitchen tool for busy...
1,Write a short blog post (500 words) about the ...,Congratulations on your new furry friend! Owni...
2,ChatGPT is rewriting Genesis.,"Sure, here's a possible re-write of the story ..."
3,Please write the evolution of humans by natura...,Ingredients:\n• 1 planet with diverse environm...
4,List possible Twitter messages from dinosaurs ...,"@T-RexyTweetster\n""OMG guys, I just saw the as..."

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   human_prompt      360 non-null    object
 1   chatgpt_response  360 non-null    object
dtypes: object(2)
memory usage: 5.8+ KB

In [36]:
data["human_prompt"] = data["human_prompt"] + " "

In [37]:
data["text"] = data["human_prompt"] + data["chatgpt_response"]

In [38]:
data["text"].head()

0    Write a detailed product description for a foo...
1    Write a short blog post (500 words) about the ...
2    ChatGPT is rewriting Genesis. Sure, here's a p...
3    Please write the evolution of humans by natura...
4    List possible Twitter messages from dinosaurs ...
Name: text, dtype: object

In [39]:
data.drop(data.iloc[:, :2], axis = 1, inplace = True)

In [40]:
data.insert(1, "domain", "chatgpt", True)

In [41]:
data.insert(2, "name", "chatgpt prompts and answers", True)

In [42]:
data.insert(3, "kind", "AI-written", True)

In [43]:
data.insert(4, "model", "AI", True)

In [44]:
news_articles = pd.read_csv("datasets/news_article.csv")

In [45]:
news_articles.reset_index(drop=True, inplace = True)

In [46]:
data.head()

,text,domain,name,kind,model
0,Write a detailed product description for a foo...,chatgpt,chatgpt prompts and answers,AI-written,AI
1,Write a short blog post (500 words) about the ...,chatgpt,chatgpt prompts and answers,AI-written,AI
2,"ChatGPT is rewriting Genesis. Sure, here's a p...",chatgpt,chatgpt prompts and answers,AI-written,AI
3,Please write the evolution of humans by natura...,chatgpt,chatgpt prompts and answers,AI-written,AI
4,List possible Twitter messages from dinosaurs ...,chatgpt,chatgpt prompts and answers,AI-written,AI

In [47]:
dataset = pd.concat([data, news_articles], axis = 0)

In [48]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1533 entries, 0 to 1172
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    1533 non-null   object
 1   domain  1533 non-null   object
 2   name    1533 non-null   object
 3   kind    1533 non-null   object
 4   model   1533 non-null   object
dtypes: object(5)
memory usage: 71.9+ KB

In [49]:
dataset["model"].unique()

array(['AI', 'Human'], dtype=object)

In [50]:
dataset["model"].value_counts()

Human    1173
AI        360
Name: model, dtype: int64

In [52]:
dataset.to_csv("datasets/final_dataset.csv", index = False)